# CLion-specific files and directories
.idea/
*.iml

# CMake-specific files
CMakeFiles/
Makefile
cmake_install.cmake

# Ignore CMake build directories
cmake-build-debug/

# Compiled object files and executables
*.o
*.obj
*.exe
*.out
*.log
*.a
*.lib
*.so
*.dll
*.dylib

# MinGW specific files
*.gdb
*.stackdump

# Windows specific files
Thumbs.db
