# CLion and CMake specific files
clion-Debug-log.txt
clion-environment.txt
cmake_install.cmake
CMakeCache.txt
CMakeConfigureLog.yaml
LastTest.log
# CLion-specific files and directories
.idea/
*.iml

# CMake-specific files
CMakeFiles/
Makefile

# Build directories
/build/
*/cmake-build-debug/

# Compiled object files and executables
*.o
*.obj
*.exe
*.out
*.log
*.a
*.lib
*.so
*.dll
*.dylib

# MinGW specific files (if you're using it)
*.gdb
*.stackdump

# Windows specific files
Thumbs.db
